.DS_Store
*.pyc
*.log
*.out
*.ech
*.o
*.lo
*.a
*.la
*.so
*.exo
*.prof
*.prof_*
toolset/exodiff
src/parser/parsetab.py
src/fem/materials/Makefile
__config__.py
__runopt__.py
toolset/wasatch
toolset/wpython
toolset/python
src/parser/sample.inp
tpl/build
tpl/exodiff/exodiff
tpl/Makefile

# exowrap files
tpl/lib/python/site-packages/exowrap/Makefile
tpl/lib/python/site-packages/exowrap/tpl/netcdf/config.status
tpl/lib/python/site-packages/exowrap/tpl/netcdf/nc-config
tpl/lib/python/site-packages/exowrap/tpl/netcdf/netcdf.pc


# latex
docs/auto/
docs/wasatch.aux
docs/wasatch.nlo
docs/wasatch.synctex.gz
