*.pyc
*.a
*.o
*.so
*.con
Makefile
.exowrap
exodiff
exowrap_bld_*
src/pyexodusii/exowrap.f90
build/

# netcdf files
src/netcdf-4.3.0/VERSION
src/netcdf-4.3.0/comps.txt
src/netcdf-4.3.0/config.h
src/netcdf-4.3.0/config.log
src/netcdf-4.3.0/config.status
src/netcdf-4.3.0/examples/C/.deps/
src/netcdf-4.3.0/h5_test/.deps/
src/netcdf-4.3.0/libcdmr/.deps/
src/netcdf-4.3.0/libdap2/.deps/
src/netcdf-4.3.0/libdap2/.libs/
src/netcdf-4.3.0/libdap2/libdap2.la
src/netcdf-4.3.0/libdap2/libdap2_la-cache.lo
src/netcdf-4.3.0/libdap2/libdap2_la-cdf3.lo
src/netcdf-4.3.0/libdap2/libdap2_la-common34.lo
src/netcdf-4.3.0/libdap2/libdap2_la-constraints3.lo
src/netcdf-4.3.0/libdap2/libdap2_la-dapalign.lo
src/netcdf-4.3.0/libdap2/libdap2_la-dapattr3.lo
src/netcdf-4.3.0/libdap2/libdap2_la-dapcvt.lo
src/netcdf-4.3.0/libdap2/libdap2_la-dapdebug.lo
src/netcdf-4.3.0/libdap2/libdap2_la-dapdump.lo
src/netcdf-4.3.0/libdap2/libdap2_la-dapodom.lo
src/netcdf-4.3.0/libdap2/libdap2_la-daputil.lo
src/netcdf-4.3.0/libdap2/libdap2_la-dceconstraints.lo
src/netcdf-4.3.0/libdap2/libdap2_la-dcelex.lo
src/netcdf-4.3.0/libdap2/libdap2_la-dceparse.lo
src/netcdf-4.3.0/libdap2/libdap2_la-dcetab.lo
src/netcdf-4.3.0/libdap2/libdap2_la-getvara3.lo
src/netcdf-4.3.0/libdap2/libdap2_la-ncd3dispatch.lo
src/netcdf-4.3.0/libdap2/libdap2_la-ncdap3.lo
src/netcdf-4.3.0/libdap2/libdap2_la-ncdap3a.lo
src/netcdf-4.3.0/libdap2/libdap2_la-ncdaperr.lo
src/netcdf-4.3.0/libdispatch/.deps/
src/netcdf-4.3.0/libdispatch/.libs/
src/netcdf-4.3.0/libdispatch/libdispatch.la
src/netcdf-4.3.0/libdispatch/libdispatch_la-datt.lo
src/netcdf-4.3.0/libdispatch/libdispatch_la-dattget.lo
src/netcdf-4.3.0/libdispatch/libdispatch_la-dattinq.lo
src/netcdf-4.3.0/libdispatch/libdispatch_la-dattput.lo
src/netcdf-4.3.0/libdispatch/libdispatch_la-dcopy.lo
src/netcdf-4.3.0/libdispatch/libdispatch_la-ddim.lo
src/netcdf-4.3.0/libdispatch/libdispatch_la-ddispatch.lo
src/netcdf-4.3.0/libdispatch/libdispatch_la-derror.lo
src/netcdf-4.3.0/libdispatch/libdispatch_la-dfile.lo
src/netcdf-4.3.0/libdispatch/libdispatch_la-dparallel.lo
src/netcdf-4.3.0/libdispatch/libdispatch_la-dstring.lo
src/netcdf-4.3.0/libdispatch/libdispatch_la-dsubstrate.lo
src/netcdf-4.3.0/libdispatch/libdispatch_la-dutf8proc.lo
src/netcdf-4.3.0/libdispatch/libdispatch_la-dvar.lo
src/netcdf-4.3.0/libdispatch/libdispatch_la-dvarget.lo
src/netcdf-4.3.0/libdispatch/libdispatch_la-dvarinq.lo
src/netcdf-4.3.0/libdispatch/libdispatch_la-dvarput.lo
src/netcdf-4.3.0/libdispatch/libdispatch_la-nc.lo
src/netcdf-4.3.0/libdispatch/libdispatch_la-ncbytes.lo
src/netcdf-4.3.0/libdispatch/libdispatch_la-nchashmap.lo
src/netcdf-4.3.0/libdispatch/libdispatch_la-nclist.lo
src/netcdf-4.3.0/libdispatch/libdispatch_la-nclistmgr.lo
src/netcdf-4.3.0/libdispatch/libdispatch_la-nclog.lo
src/netcdf-4.3.0/libdispatch/libdispatch_la-nctime.lo
src/netcdf-4.3.0/libdispatch/libdispatch_la-ncuri.lo
src/netcdf-4.3.0/libdispatch/libnetcdf2.la
src/netcdf-4.3.0/libdispatch/libnetcdf2_la-dv2i.lo
src/netcdf-4.3.0/liblib/.deps/
src/netcdf-4.3.0/liblib/.libs/
src/netcdf-4.3.0/liblib/libnetcdf.la
src/netcdf-4.3.0/liblib/libnetcdf_la-stub.lo
src/netcdf-4.3.0/librpc/.deps/
src/netcdf-4.3.0/libsrc/.deps/
src/netcdf-4.3.0/libsrc/.libs/
src/netcdf-4.3.0/libsrc/libnetcdf3.la
src/netcdf-4.3.0/libsrc/libnetcdf3_la-attr.lo
src/netcdf-4.3.0/libsrc/libnetcdf3_la-dim.lo
src/netcdf-4.3.0/libsrc/libnetcdf3_la-lookup3.lo
src/netcdf-4.3.0/libsrc/libnetcdf3_la-memio.lo
src/netcdf-4.3.0/libsrc/libnetcdf3_la-nc3dispatch.lo
src/netcdf-4.3.0/libsrc/libnetcdf3_la-nc3internal.lo
src/netcdf-4.3.0/libsrc/libnetcdf3_la-ncio.lo
src/netcdf-4.3.0/libsrc/libnetcdf3_la-ncx.lo
src/netcdf-4.3.0/libsrc/libnetcdf3_la-posixio.lo
src/netcdf-4.3.0/libsrc/libnetcdf3_la-putget.lo
src/netcdf-4.3.0/libsrc/libnetcdf3_la-v1hpg.lo
src/netcdf-4.3.0/libsrc/libnetcdf3_la-var.lo
src/netcdf-4.3.0/libsrc4/.deps/
src/netcdf-4.3.0/libtool
src/netcdf-4.3.0/nc-config
src/netcdf-4.3.0/nc_test/.deps/
src/netcdf-4.3.0/nc_test4/.deps/
src/netcdf-4.3.0/ncdap_test/.deps/
src/netcdf-4.3.0/ncdap_test/.dodsrc
src/netcdf-4.3.0/ncdump/.deps/
src/netcdf-4.3.0/ncdump/.libs/
src/netcdf-4.3.0/ncdump/nccopy
src/netcdf-4.3.0/ncdump/ncdump
src/netcdf-4.3.0/ncgen/.deps/
src/netcdf-4.3.0/ncgen/.libs/
src/netcdf-4.3.0/ncgen/ncgen
src/netcdf-4.3.0/ncgen3/.deps/
src/netcdf-4.3.0/ncgen3/.libs/
src/netcdf-4.3.0/ncgen3/ncgen3
src/netcdf-4.3.0/nctest/.deps/
src/netcdf-4.3.0/netcdf.pc
src/netcdf-4.3.0/oc2/.deps/
src/netcdf-4.3.0/oc2/.libs/
src/netcdf-4.3.0/oc2/liboc.la
src/netcdf-4.3.0/oc2/liboc_la-daplex.lo
src/netcdf-4.3.0/oc2/liboc_la-dapparse.lo
src/netcdf-4.3.0/oc2/liboc_la-daptab.lo
src/netcdf-4.3.0/oc2/liboc_la-oc.lo
src/netcdf-4.3.0/oc2/liboc_la-ocbytes.lo
src/netcdf-4.3.0/oc2/liboc_la-occlientparams.lo
src/netcdf-4.3.0/oc2/liboc_la-occompile.lo
src/netcdf-4.3.0/oc2/liboc_la-occurlfunctions.lo
src/netcdf-4.3.0/oc2/liboc_la-ocdata.lo
src/netcdf-4.3.0/oc2/liboc_la-ocdebug.lo
src/netcdf-4.3.0/oc2/liboc_la-ocdump.lo
src/netcdf-4.3.0/oc2/liboc_la-ochttp.lo
src/netcdf-4.3.0/oc2/liboc_la-ocinternal.lo
src/netcdf-4.3.0/oc2/liboc_la-oclist.lo
src/netcdf-4.3.0/oc2/liboc_la-oclog.lo
src/netcdf-4.3.0/oc2/liboc_la-ocnode.lo
src/netcdf-4.3.0/oc2/liboc_la-ocrc.lo
src/netcdf-4.3.0/oc2/liboc_la-ocread.lo
src/netcdf-4.3.0/oc2/liboc_la-ocuri.lo
src/netcdf-4.3.0/oc2/liboc_la-ocutil.lo
src/netcdf-4.3.0/oc2/liboc_la-xxdr.lo
src/netcdf-4.3.0/stamp-h1
